@{
    ViewBag.Title = "GÜNLÜK VAKA TABLOSU";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Türkiye Günlük Vaka Tablosu</p>

<div>


    <iframe src="https://c19meter.com/siteneekle/?country=Turkey&bg=1E7FB8&text=FFF" allowfullscreen style="height: 485px;width:100%;border:0;" frameborder="0" frameborder="0"></iframe><a href="https://c19meter.com" title="Corona virüs" style="float:right;margin:-75px 25px 0 0;">Corona Virüs</a>


</div>