@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COVID-19 BÜLTEN</h1>
    <p class="lead">DÜNYADAKİ KORONA VİRÜS VAKA SAYILARI </p>
    <iframe src="https://public.domo.com/cards/dJ45D" width="100%" height="450" marginheight="0" marginwidth="0" frameborder="0"></iframe>
</div>  


<img src="~/images/covid19.jpg"/ width="350" height="250" /> <img src="~/images/korona20.jpg"/ width="400" height="250"/> <img src="~/images/korona10.jpg"/ width="350" height="250"/>                

<div class="row">
    <div class="col-md-4">
        <h2 style="font-size:22px"> <b> SAĞLIK BAKANLIĞI SİTE</b></h2>
        <p>
            
            
            TÜRKİYE CUMHURİYETİ SAĞLIK BAKANLIĞI RESMİ SİTESİ
        </p>
        <p><a class="btn btn-default" href="https://www.saglik.gov.tr">GİTMEK İÇİN TIKLAYIN &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-size:22px"> <b> COVID-19 HAKKINDA HABERLER</b></h2>
        <p>TÜRKİYEDE VE DÜNYADA ORTAYA ÇIKAN SON DAKİKA HABERLER</p>
        <p><a class="btn btn-default" href="https://www.trthaber.com/haber/koronavirus/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-size:25px"> <b>COVID-19 SEMPTOMLARI</b> </h2>
        <p>COVID-19 OLDUĞUNUZU DÜŞÜNÜYORSANIZ TIKLAYINIZ</p>
        <p><a class="btn btn-default" href="https://www.google.com/search?client=opera-gx&q=korona+semptomları&sourceid=opera&ie=UTF-8&oe=UTF-8">Learn more &raquo;</a></p>
    </div>
</div>